[Desktop Entry]
Type=Application
Name=mmmusic
GenericName=Reproductor de música
Comment=Reproductor de música para tu terminal
Exec=mmmusic
Terminal=true
Categories=Audio;Music;Player;AudioVideo;
Keywords=musica;audio;reproductor;tui;terminal;
StartupNotify=false
